<div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <%= link_to "Maggie", root_url, class: "navbar-brand" %>
                    <!-- <a class="navbar-brand" href="#">Logo</a> -->
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><%= link_to "Home", root_url %></li>
                        <!-- <li class=" dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Departments <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class=" dropdown">
                                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View Departments</a>
                                </li>
                                <li><a href="#">Add New</a></li>
                            </ul>
                        </li> -->
                        <li><%= link_to "News Sources", sources_path %></li>
                        <li><%= link_to "Read News", '#' %></li>
                        <!-- <li class=" dropdown"><a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Managers <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">View Managers</a></li>
                                <li><a href="#">Add New</a></li>
                            </ul>
                        </li> -->
                        <!-- <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Staff <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">View Staff</a></li>
                                <li><a href="#">Add New</a></li>
                                <li><a href="#">Bulk Upload</a></li>
                            </ul>
                        </li> -->
                        <!-- <li class=" down"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HR <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Change Time Entry</a></li>
                                <li><a href="#">Report</a></li>
                            </ul>
                        </li> -->
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                      <% if user_signed_in? %>
                      <li class=" dropdown">  <%= link_to "Signed in as #{current_user.email}", '#', {class:"dropdown-toggle active", "data-toggle": "dropdown", role: "button", "aria-haspopup": "true", "aria-expanded": "false"} %>
                        <!-- <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signed in as  <span class="caret"></span></a> -->
                            <ul class="dropdown-menu">
                              <li><%= link_to "Change Password", '#' %></li>
                              <li><%= link_to "My Profile", user_path(current_user) %></li>
                            </ul>
                        </li>
                        <li class=""><a href="#">Logout</a></li>
                      <% else %>
                        <li><%= link_to "Log In", new_user_session_path %></li>
                      <% end %>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
